@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

$font-family-headlines: "Nunito", sans-serif;
$font-family-sans-serif: "Nunito", sans-serif;

$shadow1: 0px 0px 10px 0px rgba(29, 18, 28, 0.3);
