input {
    border-radius: 5px;
    border: 1px solid #818a91;
    padding: 0.625em 0.4375em;
    margin: 0.4rem;

    &:focus {
        outline: none;
        border-color: $secondary;
    }
}

label {
    margin-top: 1rem;
}
