body {
    font-family: $font-family-sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border-radius: 5px;
    box-shadow: $shadow1;
}
